/* Import fonts */
@import url("https://use.typekit.net/mlc3rxe.css");

/* Remove margin and padding from whole document */
* {
  margin: 0;
  padding: 0;
}

/* General styles for the body element */
body {
  position: relative;
  font-family: josefin-sans, sans-serif;
}

/* Header styling */
header {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #ffecd4;
  height: 12vh;
  max-height: 12vh;
}

header img {
  width: 200px;
  padding: 30px;
}

nav {
  padding: 30px;
}

/* Nav link styling */
nav a {
  color: #26245e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.15vw;
  font-weight: 400;
  padding: 15px;
}

/* User icon styling */
#user {
  background-color: #26245e;
  color: #ffecd4;
  border-radius: 50%;
  padding: 0.6vw;
}

.fa-user {
  font-size: 1.2vw;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #ffecd4;
  box-shadow: 0px 5px 5px #0000001e;
  border-radius: 0px 0px 5px 5px;
  padding-top: 10px;
  width: 240px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 15px 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HERO IMAGE */
#hero {
  position: relative;
  height: 88vh;
  background-size: cover;
  background-image: url(images/hero.jpg);
}
#hero h1 {
  margin-left: 7%;
  padding-top: 150px;
  align-self: center;
  color: #26245e;
  font-size: 7vw;
}
#hero a {
  text-align: center;
  /*   
  background-color: #ffecd4;
  color: #26245e;
  text-decoration: none;
  padding: 20px 30px;
  font-size: 1.75vw;
  font-weight: 600;
  border-radius: 43px; */
}

/* MAIN CONTENT */
main {
  position: relative;
}

#infographic {
  width: 70%;
  position: relative;
  left: 0;
  right: 0;
}

Random kode her

BLasfojefoæihqfi

eew
feBlendwe
feBlendwe
feDropShadowf
ew
feBlendewf
we
f


/* Setp 1 - Kort med valg af måltidskasse */
.choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.choose div {
  background-color: #ffecd4;
  border-radius: 20px 20px 0px 0px;
  margin-top: 40pt;
  margin-bottom: 40pt;
  border-radius: 20px 20px 20px 20px;
}

.choose h2 {
  text-transform: uppercase;
  padding-bottom: 15pt;
}

.choose h2,
.choose p {
  text-align: center;
}

.choose_img_com {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.from {
  margin-top: 80pt; /* tilføj over knappen i stedet for */
}

#button-choose {
  display: flex;
  justify-content: center;
}

#button-choose a {
  text-decoration: none;
  color: white;
  background-color: #26245e;
  border-radius: 25px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1, 25vw;
}


/* ----STEP TO BESTILLING---------------------------------------------------------------------------------- */
#step2-body{ 
  text-align: center; 
  margin: 5% 35% 5% 35%;
}
step2-overskrift{
  font-weight:400;
  color: #26245E;
}
/* Font overskrifter styling osv. */

.dage-sektion{ 
  display: flex;
  justify-content: space-between;
  margin: 5% 0% 15% 0%;
}
.dage-cirkel{
border-radius:50%;
background-color:#FFECD4;
height: 30px;
width: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.color-change {
  background-color: #26245E;
  color: #FFECD4;
}

.allergier{ 
  margin: 5% 20% 0% 20%;
  /* margin-left: 20%;
  margin-right: 20%; */
}
.allergier div{
  display: flex;
  justify-content: space-between;
}

.check-cirkel{ 
  border-radius: 50%;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-cirkel i{ 
  display: none;
}

.check-show{ 
display: block;
}